.body {
  & p:first-child {
    float: left;
    width: 25%;
    margin: 0 2rem 0 0;
  }

  & h2 {
    clear: both;
    padding-top: 1rem;
  }

  & img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--colorLight);
    border-radius: 4px;
    overflow: hidden;
  }

  & tr:nth-child(even) {
    /*background: var(--colorLight);*/
  }

  & th {
    text-align: left;
    border-bottom: 1px solid var(--colorLight)
  }

  & th, & td {
    padding: 0.5rem 1rem;
  }
}
