@custom-selector :--enter :hover, :active, :focus;

.button {
  display: inline-block;
  padding: 0 1.5rem 0 2rem;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 2.625rem;
  cursor: pointer;
  transition: .2s all;
  outline: none;

  &:after {
    padding-left: 1rem;
    content: "\00232A";
    font-size: 0.8rem;
    opacity: 0.7;
  }

  &:--enter {
    text-decoration: none;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.blue {
  background: var(--colorHeading);

  &:--enter {
    background: color(var(--colorHeading) l(35%));
  }

  &.disabled {
    background: color(var(--colorHeading) a(40%));
  }
}

.red {
  background: var(--colorRed);

  &:--enter {
    background: color(var(--colorRed) l(50%));
  }

  &.disabled {
    background: color(var(--colorRed) a(40%));
  }
}
