.button {
  display: inline-block;
  padding: 0 1.5rem 0 2rem;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 2.625rem;
  cursor: pointer;
  transition: .2s all;

  &:after {
    padding-left: 1rem;
    content: "\00232A";
    font-size: 0.8rem;
    opacity: 0.7;
  }

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.outline {
  background: transparent !important;
}

.blue {
  background: var(--colorHeading);

  &:hover, &:active, &:focus {
    background: color(var(--colorHeading) l(35%));
  }

  &.outline {
    color: var(--colorHeading);
    border-color: var(--colorHeading);
  }
}

.red {
  background: var(--colorRed);

  &:hover, &:active, &:focus {
    background: color(var(--colorRed) l(50%));
  }

  &.outline {
    color: var(--colorRed);
    border-color: var(--colorRed);
  }
}
