.container {
  position: relative;
  display: block;
  height: 29rem;
  margin: 0 -100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--colorHeading);
}

.content {
  position: absolute;
  top: 55px;
  left: 50%;
  width: calc(var(--maxWidth) / 2);
  padding-left: 2rem;
}

.heading {
  margin: 0;
  font-size: 3.625rem;
  font-weight: 100;
  line-height: 4.125rem;
  color: #fff;
}

.body {
  margin: 2rem 0;
  line-height: 1.8rem;
  color: #fff;
}

.button {
  display: inline-block;
}
