.container {
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 29rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--colorHeading);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 39rem;
}

.body {
  margin-bottom: 2rem;
  line-height: 1.8rem;
  color: #fff;

  & h1 {
    font-size: 3.625rem;
    font-weight: 100;
    line-height: 4.125rem;
    margin-bottom: 2rem;
    color: #fff;
  }
}

.button {
  display: inline-block;
}
