.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: -150px;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
  opacity: 0.1;
}
