.container {
  display: flex;
  flex: 0;
  justify-content: center;
  box-sizing: border-box;
  padding: 2.5rem 0;

  & ~ & {
    background-color: var(--colorLight);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  display: flex;
}

.body {
  display: flex;
  width: var(--maxWidth);
}
