.footer {
  background: var(--colorLight);
}

.contact {
  width: var(--maxWidth);
  margin: 0 auto;
  padding-top: 1.7rem
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0;
  line-height: 4rem;
}

.copyright {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
