.footer {
  background: var(--colorLight);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0;
  line-height: 4rem;
}

.left, .right {
  display: flex;
  flex-direction: row;
}
