/* Using global sytles is not recommended, prefer local styles via CSS Modules */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800|Roboto:300');

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  min-width: var(--maxWidth);
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: #fff;
}

body {
  color: var(--colorText);
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  font-family: "Raleway", sans-serif;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
  margin-top: 0;
  color: var(--colorHeading);
  font-weight: 100;
}

h1 {
  margin-bottom: 1.8rem;
  font-size: 2.25rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
}

/* minimal styling, prefer removing this and use local styles */
a {
  color: var(--colorLink);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input, select, textarea, button{
  font-family: inherit;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--colorLink);
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  background: var(--colorLight);
  outline: none;
  transition: all 0.2s;

  &::placeholder {
    color: var(--colorText);
  }

  &:focus {
    background: color(var(--colorLight) a(40%));
  }

  &:not(:last-child) {
    margin-bottom: 1.4rem;
  }
}

hr {
  border: 0;
  height: 1px;
  background: var(--colorNeutral);
  opacity: 0.2;
  margin: 2rem 0;
}

address { font-style: normal }

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */

:root {
  --phenomic-HeadingAnchor-width: 1.4rem;
  --phenomic-HeadingAnchor-margin: 0.4rem;
}

.phenomic-HeadingAnchor {
  display: inline-block;
  text-align: center;
  margin-left: calc(-1 * (var(--phenomic-HeadingAnchor-width) + var(--phenomic-HeadingAnchor-margin)));
  margin-right: var(--phenomic-HeadingAnchor-margin);
  width: var(--phenomic-HeadingAnchor-width);
  line-height: var(--phenomic-HeadingAnchor-width);
  text-decoration: none;
  opacity: 0.1;
  transition: opacity 0.2s;
}
