/* Using global sytles is not recommended, prefer local styles via CSS Modules */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800|Roboto:300");
@import "~react-s-alert/dist/s-alert-default.css";
@import "~react-s-alert/dist/s-alert-css-effects/slide.css";

.s-alert-box-inner {
  /* fixes text blur on animation */
  font-weight: 200;
  transform: perspective(1px) translate3d(0, 0, 0);
}

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  min-width: var(--maxWidth);
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: #fff;
}

:root {
  --baseFontSize: 1rem;
  --baseLineHeight: calc(var(--baseFontSize) * 1.5);
  --headingMarginMultiplier: calc(2 / 3);
  --headingLineHeightMultiplier: 1.5;
  --h1FontSize: calc(var(--baseFontSize) * 2.25);
  --h2FontSize: calc(var(--baseFontSize) * 1.5);
  --h3FontSize: calc(var(--baseFontSize) * 1.25);
  --h4FontSize: calc(var(--baseFontSize) * 1);
}

body {
  color: var(--colorText);
  font-size: var(--baseFontSize);
  font-weight: 100;
  line-height: var(--baseLineHeight);
  font-family: "Raleway", sans-serif;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
  margin: 0 0 1rem 0;
  color: var(--colorHeading);
  font-weight: 100;
}

h1 {
  /*margin-bottom: calc(var(--h1FontSize) * var(--headingMarginMultiplier));*/
  font-size: var(--h1FontSize);
  line-height: calc(var(--h1FontSize) * var(--headingLineHeightMultiplier));
}

h2 {
  /*margin-bottom: calc(var(--h2FontSize) * var(--headingMarginMultiplier));*/
  font-size: var(--h2FontSize);
  line-height: calc(var(--h2FontSize) * var(--headingLineHeightMultiplier));
}

h3 {
  /*margin-bottom: calc(var(--h3FontSize) * var(--headingMarginMultiplier));*/
  font-size: var(--h3FontSize);
  line-height: calc(var(--h3FontSize) * var(--headingLineHeightMultiplier));
}

h4 {
  /*margin-bottom: calc(var(--h4FontSize) * var(--headingMarginMultiplier));*/
  font-size: var(--h4FontSize);
  font-weight: 600;
  line-height: calc(var(--h4FontSize) * var(--headingLineHeightMultiplier));
}

p {
  margin: 0 0 var(--baseFontSize) 0;
}

a {
  color: var(--colorLink);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input, select, textarea, button{
  font-family: inherit;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--colorLink);
  border-radius: 0;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  color: var(--colorText);
  background: #f7f7f7;
  outline: none;
  transition: all 0.2s;

  &:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  &::placeholder {
    color: var(--colorText);
  }

  &:-webkit-autofill {
    background-color: black !important;
  }

  &:focus {
    background: #fbfbfb;
  }

  &:disabled {
    color: color(var(--colorText) l(65%));
    cursor: not-allowed;
  }
}

hr {
  border: 0;
  height: 1px;
  background: color(var(--colorLink) a(0.2));
  margin: calc(var(--baseFontSize) * 2) 0;
}

address { font-style: normal }

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */

 :root {
   --phenomic-HeadingAnchor-width: 1.4rem;
   --phenomic-HeadingAnchor-margin: 0.4rem;
 }

.phenomic-HeadingAnchor {
  display: none;
  text-align: center;
  margin-left: calc(-1 * (var(--phenomic-HeadingAnchor-width) + var(--phenomic-HeadingAnchor-margin)));
  margin-right: var(--phenomic-HeadingAnchor-margin);
  width: var(--phenomic-HeadingAnchor-width);
  line-height: var(--phenomic-HeadingAnchor-width);
  text-decoration: none;
  opacity: 0.1;
  transition: opacity 0.2s;
}
